# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource ignored files
/dataSources/
/dataSources.xml
/dataSources.local.xml

/libraries

misc.xml

#Plugins
sonarlint-state.xml
sonarlint/
sonarlint.xml
discord.xml
jpa-buddy.xml
